.animate.slide-in-horizontally,
.animate.slide-in-horizontally.right {
    animation: slide-in-right $slideInTime $slideInEasing forwards;
}

.animate.slide-in-horizontally.left {
    animation: slide-in-left $slideInTime $slideInEasing forwards;
}

@keyframes slide-in-right {
    from {
        transform: translate3d(-#{$rightClearance}, 0, 0);
    }
    to {
        transform: none;
    }
}

@keyframes slide-in-left {
    from {
        transform: translate3d(#{$leftClearance}, 0, 0);
    }
    to {
        transform: none;
    }
}
