.animate.slide-out-horizontally,
.animate.slide-out-horizontally.right {
    animation: slide-out-right $slideOutTime $slideOutEasing forwards;
}

.animate.slide-out-horizontally.left {
    animation: slide-out-left $slideOutTime $slideOutEasing forwards;
}

@keyframes slide-out-right {
    from {
        transform: none;
    }
    to {
        transform: translate3d(#{$rightClearance}, 0, 0);
    }
}

@keyframes slide-out-left {
    from {
        transform: none;
    }
    to {
        transform: translate3d(-#{$leftClearance}, 0, 0);
    }
}
