#{$rootClass}.slide.out {
    animation-duration: $slideInDuration;
    animation-timing-function: $slideInTimingFunction;

    &.left {
        @include chainable-anim-out(slide-out-left);
    }

    &.right {
        @include chainable-anim-out(slide-out-right);
    }

    &.up {
        @include chainable-anim-out(slide-out-up);
    }

    &.down {
        @include chainable-anim-out(slide-out-down);
    }

    &.up.left {
        @include chainable-anim-out(slide-out-up-left);
    }

    &.down.left {
        @include chainable-anim-out(slide-out-down-left);
    }

    &.up.right {
        @include chainable-anim-out(slide-out-up-right);
    }

    &.down.right {
        @include chainable-anim-out(slide-out-down-right);
    }

    &.shake {
        @include chainable(
            $shakeDuration,
            $shakeTimingFunction,
            $slideOutDuration,
            $slideOutTimingFunction
        );
    }

    &.pulsate {
        @include chainable(
            $pulsateDuration,
            $pulsateTimingFunction,
            $slideOutDuration,
            $slideOutTimingFunction
        );
    }

    &.flash {
        @include chainable(
            $flashDuration,
            $flashTimingFunction,
            $slideOutDuration,
            $slideOutTimingFunction
        );
    }

    &.wave {
        @include chainable(
            $waveDuration,
            $waveTimingFunction,
            $slideOutDuration,
            $slideOutTimingFunction
        );
    }
}

@keyframes slide-out-right {
    0% {
        transform: none;
    }
    100% {
        transform: translate3d(#{$rightClearance}, 0, 0);
    }
}

@keyframes slide-out-left {
    0% {
        transform: none;
    }
    100% {
        transform: translate3d(-#{$leftClearance}, 0, 0);
    }
}

@keyframes slide-out-up {
    0% {
        transform: none;
    }
    100% {
        transform: translate3d(0, -#{$topClearance}, 0);
    }
}

@keyframes slide-out-down {
    0% {
        transform: none;
    }
    100% {
        transform: translate3d(0, #{$bottomClearance}, 0);
    }
}

@keyframes slide-out-down-right {
    0% {
        transform: none;
    }
    100% {
        transform: translate3d(#{$rightClearance}, #{$topClearance}, 0);
    }
}

@keyframes slide-out-up-right {
    0% {
        transform: none;
    }
    100% {
        transform: translate3d(#{$rightClearance}, -#{$topClearance}, 0);
    }
}

@keyframes slide-out-down-left {
    0% {
        transform: none;
    }
    100% {
        transform: translate3d(-#{$leftClearance}, #{$bottomClearance}, 0);
    }
}

@keyframes slide-out-up-left {
    0% {
        transform: none;
    }
    100% {
        transform: translate3d(-#{$leftClearance}, -#{$topClearance}, 0);
    }
}
