.animate.slide-out-vertically.up {
    animation: slide-out-up $slideOutTime $slideOutEasing forwards;
}

.animate.slide-out-vertically.down {
    animation: slide-out-down $slideOutTime $slideOutEasing forwards;
}

@keyframes slide-out-up {
    0% {
        transform: none;
    }
    100% {
        transform: translate3d(0, -#{$topClearance}, 0);
    }
}

@keyframes slide-out-down {
    0% {
        transform: none;
    }
    100% {
        transform: translate3d(0, #{$bottomClearance}, 0);
    }
}
