#{$rootClass}.slide.in {
    animation-duration: $slideInDuration;
    animation-timing-function: $slideInTimingFunction;

    &.left {
        @include chainable-anim-in(slide-in-left);
    }

    &.right {
        @include chainable-anim-in(slide-in-right);
    }

    &.up {
        @include chainable-anim-in(slide-in-up);
    }

    &.down {
        @include chainable-anim-in(slide-in-down);
    }

    &.up.left {
        @include chainable-anim-in(slide-in-up-left);
    }

    &.down.left {
        @include chainable-anim-in(slide-in-down-left);
    }

    &.up.right {
        @include chainable-anim-in(slide-in-up-right);
    }

    &.down.right {
        @include chainable-anim-in(slide-in-down-right);
    }

    &.shake {
        @include chainable(
            $slideInDuration,
            $slideInTimingFunction,
            $shakeDuration,
            $shakeTimingFunction
        );
    }

    &.pulsate {
        @include chainable(
            $slideInDuration,
            $slideInTimingFunction,
            $pulsateDuration,
            $pulsateTimingFunction
        );
    }

    &.flash {
        @include chainable(
            $slideInDuration,
            $slideInTimingFunction,
            $flashDuration,
            $flashTimingFunction
        );
    }

    &.wave {
        @include chainable(
            $slideInDuration,
            $slideInTimingFunction,
            $waveDuration,
            $waveTimingFunction
        );
    }
}

@keyframes slide-in-right {
    0% {
        transform: translate3d(-#{$rightClearance}, 0, 0);
    }
    100% {
        transform: none;
    }
}

@keyframes slide-in-left {
    0% {
        transform: translate3d(#{$leftClearance}, 0, 0);
    }
    100% {
        transform: none;
    }
}

@keyframes slide-in-up {
    0% {
        transform: translate3d(0, #{$bottomClearance}, 0);
    }
    100% {
        transform: none;
    }
}

@keyframes slide-in-down {
    0% {
        transform: translate3d(0, -#{$topClearance}, 0);
    }
    100% {
        transform: none;
    }
}

@keyframes slide-in-down-right {
    0% {
        transform: translate3d(-#{$rightClearance}, -#{$topClearance}, 0);
    }
    100% {
        transform: none;
    }
}

@keyframes slide-in-up-right {
    0% {
        transform: translate3d(-#{$rightClearance}, #{$bottomClearance}, 0);
    }
    100% {
        transform: none;
    }
}

@keyframes slide-in-down-left {
    0% {
        transform: translate3d(#{$leftClearance}, -#{$topClearance}, 0);
    }
    100% {
        transform: none;
    }
}

@keyframes slide-in-up-left {
    0% {
        transform: translate3d(#{$leftClearance}, #{$bottomClearance}, 0);
    }
    100% {
        transform: none;
    }
}
