.animate.slide-out-horizontally-vertically.up.center {
    animation: slide-out-up $slideOutTime $slideOutEasing forwards;
}

.animate.slide-out-horizontally-vertically.down.center {
    animation: slide-out-down $slideOutTime $slideOutEasing forwards;
}

.animate.slide-out-horizontally-vertically.up.right {
    animation: slide-out-up-right $slideOutTime $slideOutEasing forwards;
}

.animate.slide-out-horizontally-vertically.down.right {
    animation: slide-out-down-right $slideOutTime $slideOutEasing forwards;
}

.animate.slide-out-horizontally-vertically.up.left {
    animation: slide-out-up-left $slideOutTime $slideOutEasing forwards;
}

.animate.slide-out-horizontally-vertically.down.left {
    animation: slide-out-down-left $slideOutTime $slideOutEasing forwards;
}

@keyframes slide-out-down-right {
    0% {
        transform: none;
    }
    100% {
        transform: translate3d(#{$rightClearance}, #{$topClearance}, 0);
    }
}

@keyframes slide-out-up-right {
    0% {
        transform: none;
    }
    100% {
        transform: translate3d(#{$rightClearance}, -#{$topClearance}, 0);
    }
}

@keyframes slide-out-down-left {
    0% {
        transform: none;
    }
    100% {
        transform: translate3d(-#{$leftClearance}, #{$bottomClearance}, 0);
    }
}

@keyframes slide-out-up-left {
    0% {
        transform: none;
    }
    100% {
        transform: translate3d(-#{$leftClearance}, -#{$topClearance}, 0);
    }
}
