@mixin slide-in-common($anim) {
    animation-name: $anim;

    &.shake {
        animation-name: $anim, shake-in;

        &.horizontally {
            animation-name: $anim, shake-horizontally-in;
        }

        &.vertically {
            animation-name: $anim, shake-vertically-in;
        }
    }

    &.pulsate {
        animation-name: $anim, pulsate-in;
    }

    &.flash {
        animation-name: $anim, flash-in;
    }
}

#{$rootClass}.slide.in {
    animation-duration: $slideInDuration;
    animation-timing-function: $slideInTimingFunction;

    &.left {
        @include slide-in-common(slide-in-left);
    }

    &.right {
        @include slide-in-common(slide-in-right);
    }

    &.up {
        @include slide-in-common(slide-in-up);
    }

    &.down {
        @include slide-in-common(slide-in-down);
    }

    &.up.left {
        @include slide-in-common(slide-in-up-left);
    }

    &.down.left {
        @include slide-in-common(slide-in-down-left);
    }

    &.up.right {
        @include slide-in-common(slide-in-up-right);
    }

    &.down.right {
        @include slide-in-common(slide-in-down-right);
    }

    &.shake {
        animation-duration: $slideInDuration, $shakeDuration;
        animation-delay: 0s, $slideInDuration;
        animation-timing-function: $slideInTimingFunction, $shakeTimingFunction;

        &.horizontally {
            animation-name: slide-in-right, shake-horizontally-in;
        }

        &.vertically {
            animation-name: slide-in-right, shake-vertically-in;
        }
    }

    &.pulsate {
        animation-duration: $slideInDuration, $pulsateDuration;
        animation-delay: 0s, $slideInDuration;
        animation-timing-function: $slideInTimingFunction,
            $pulsateTimingFunction;
    }

    &.flash {
        animation-duration: $slideInDuration, $flashDuration;
        animation-delay: 0s, $slideInDuration;
        animation-timing-function: $slideInTimingFunction, $flashTimingFunction;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translate3d(-#{$rightClearance}, 0, 0);
    }
    100% {
        transform: none;
    }
}

@keyframes slide-in-left {
    0% {
        transform: translate3d(#{$leftClearance}, 0, 0);
    }
    100% {
        transform: none;
    }
}

@keyframes slide-in-up {
    0% {
        transform: translate3d(0, #{$bottomClearance}, 0);
    }
    100% {
        transform: none;
    }
}

@keyframes slide-in-down {
    0% {
        transform: translate3d(0, -#{$topClearance}, 0);
    }
    100% {
        transform: none;
    }
}

@keyframes slide-in-down-right {
    0% {
        transform: translate3d(-#{$rightClearance}, -#{$topClearance}, 0);
    }
    100% {
        transform: none;
    }
}

@keyframes slide-in-up-right {
    0% {
        transform: translate3d(-#{$rightClearance}, #{$bottomClearance}, 0);
    }
    100% {
        transform: none;
    }
}

@keyframes slide-in-down-left {
    0% {
        transform: translate3d(#{$leftClearance}, -#{$topClearance}, 0);
    }
    100% {
        transform: none;
    }
}

@keyframes slide-in-up-left {
    0% {
        transform: translate3d(#{$leftClearance}, #{$bottomClearance}, 0);
    }
    100% {
        transform: none;
    }
}
