.animate.slide-in-diagonally.up.center {
    animation: slide-in-up $slideInTime $slideInEasing forwards;
}

.animate.slide-in-diagonally.down.center {
    animation: slide-in-down $slideInTime $slideInEasing forwards;
}

.animate.slide-in-diagonally.up.right {
    animation: slide-in-up-right $slideInTime $slideInEasing forwards;
}

.animate.slide-in-diagonally.down.right {
    animation: slide-in-down-right $slideInTime $slideInEasing forwards;
}

.animate.slide-in-diagonally.up.left {
    animation: slide-in-up-left $slideInTime $slideInEasing forwards;
}

.animate.slide-in-diagonally.down.left {
    animation: slide-in-down-left $slideInTime $slideInEasing forwards;
}

@keyframes slide-in-down-right {
    0% {
        transform: translate3d(-#{$rightClearance}, -#{$topClearance}, 0);
    }
    100% {
        transform: none;
    }
}

@keyframes slide-in-up-right {
    0% {
        transform: translate3d(-#{$rightClearance}, #{$bottomClearance}, 0);
    }
    100% {
        transform: none;
    }
}

@keyframes slide-in-down-left {
    0% {
        transform: translate3d(#{$leftClearance}, -#{$topClearance}, 0);
    }
    100% {
        transform: none;
    }
}

@keyframes slide-in-up-left {
    0% {
        transform: translate3d(#{$leftClearance}, #{$bottomClearance}, 0);
    }
    100% {
        transform: none;
    }
}
