.animate.bounce-out-vertically.up {
    animation: bounce-out-up $bounceOutTime $bounceOutEasing forwards;
}

.animate.bounce-out-vertically.down {
    animation: bounce-out-down $bounceOutTime $bounceOutEasing forwards;
}

@keyframes bounce-out-up {
    0%,
    40% {
        transform: none;
    }
    70% {
        transform: translate3d(0, #{$bounceOut}, 0);
    }
    100% {
        transform: translate3d(0, -#{$topClearance}, 0);
    }
}

@keyframes bounce-out-down {
    0%,
    40% {
        transform: none;
    }
    70% {
        transform: translate3d(0, -#{$bounceOut}, 0);
    }
    100% {
        transform: translate3d(0, #{$bottomClearance}, 0);
    }
}
