.animate.bounce-out-vertically.up {
    animation: bounce-out-up $bounceOutTime $bounceOutEasing forwards;
}

.animate.bounce-out-vertically.down {
    animation: bounce-out-down $bounceOutTime $bounceOutEasing forwards;
}

@keyframes bounce-out-up {
    0%,
    40% {
        transform: none;
    }
    70% {
        transform: translateY(#{$bounceOut});
    }
    100% {
        transform: translateY(-#{$topClearance});
    }
}

@keyframes bounce-out-down {
    0%,
    40% {
        transform: none;
    }
    70% {
        transform: translateY(-#{$bounceOut});
    }
    100% {
        transform: translateY(#{$bottomClearance});
    }
}
