.animate.bounce-in-vertically.up {
    animation: bounce-in-up $bounceInTime $bounceInEasing forwards;
}

.animate.bounce-in-vertically.down {
    animation: bounce-in-down $bounceInTime $bounceInEasing forwards;
}

@keyframes bounce-in-up {
    0% {
        transform: translateY(#{$bottomClearance});
    }
    60% {
        transform: translateY(-#{$bounceIn});
    }
    80% {
        transform: translateY(#{$bounceIn});
    }
    100% {
        transform: none;
    }
}

@keyframes bounce-in-down {
    0% {
        transform: translateY(-#{$topClearance});
    }
    60% {
        transform: translateY(#{$bounceIn});
    }
    80% {
        transform: translateY(-#{$bounceIn});
    }
    100% {
        transform: none;
    }
}
