.animate.bounce-out-horizontally.right {
    animation: bounce-out-right $bounceOutTime $bounceOutEasing forwards;
}

.animate.bounce-out-horizontally.left {
    animation: bounce-out-left $bounceOutTime $bounceOutEasing forwards;
}

@keyframes bounce-out-right {
    0%,
    40% {
        transform: none;
    }
    70% {
        transform: translate3d(-#{$bounceOut}, 0, 0);
    }
    100% {
        transform: translate3d(#{$rightClearance}, 0, 0);
    }
}

@keyframes bounce-out-left {
    0%,
    40% {
        transform: none;
    }
    70% {
        transform: translate3d(#{$bounceOut}, 0, 0);
    }
    100% {
        transform: translate3d(-#{$leftClearance}, 0, 0);
    }
}
