.animate.bounce-in-horizontally.right {
    animation: bounce-in-right $bounceInTime $bounceInEasing forwards;
}

.animate.bounce-in-horizontally.left {
    animation: bounce-in-left $bounceInTime $bounceInEasing forwards;
}

@keyframes bounce-in-right {
    0% {
        transform: translate3d(-#{$rightClearance}, 0, 0);
    }
    60% {
        transform: translate3d(#{$bounceIn}, 0, 0);
    }
    80% {
        transform: translate3d(-#{$bounceDuring}, 0, 0);
    }
    100% {
        transform: none;
    }
}

@keyframes bounce-in-left {
    0% {
        transform: translate3d(#{$leftClearance}, 0, 0);
    }
    60% {
        transform: translate3d(-#{$bounceIn}, 0, 0);
    }
    80% {
        transform: translate3d(#{$bounceDuring}, 0, 0);
    }
    100% {
        transform: none;
    }
}
