.animate.grow-in-horizontally {
    animation: grow-in-horizontally $growInTime $growInEasing forwards;
    transform-origin: center;
}

.animate.grow-in-horizontally.right {
    animation: grow-in-horizontally $growInTime $growInEasing forwards;
    transform-origin: top left;
}

.animate.grow-in-horizontally.left {
    animation: grow-in-horizontally $growInTime $growInEasing forwards;
    transform-origin: top right;
}

@keyframes grow-in-horizontally {
    0% {
        transform: scale(0, 0);
        opacity: 0;
    }
    50% {
        transform: scale(0, 1);
    }
    100% {
        transform: none;
        opacity: 1;
    }
}
