.animate.grow-in-horizontally-vertically {
    animation: grow-in-horizontally-vertically $growInTime $growInEasing
        forwards;
    transform-origin: center;
}

.animate.grow-in-horizontally-vertically.up {
    animation: grow-in-horizontally-vertically $growInTime $growInEasing
        forwards;
    transform-origin: bottom center;
}

.animate.grow-in-horizontally-vertically.down {
    animation: grow-in-horizontally-vertically $growInTime $growInEasing
        forwards;
    transform-origin: top center;
}

.animate.grow-in-horizontally-vertically.up.right {
    animation: grow-in-horizontally-vertically $growInTime $growInEasing
        forwards;
    transform-origin: bottom left;
}

.animate.grow-in-horizontally-vertically.up.left {
    animation: grow-in-horizontally-vertically $growInTime $growInEasing
        forwards;
    transform-origin: bottom right;
}

.animate.grow-in-horizontally-vertically.down.right {
    animation: grow-in-horizontally-vertically $growInTime $growInEasing
        forwards;
    transform-origin: top left;
}

.animate.grow-in-horizontally-vertically.down.left {
    animation: grow-in-horizontally-vertically $growInTime $growInEasing
        forwards;
    transform-origin: top right;
}

@keyframes grow-in-horizontally-vertically {
    from {
        transform: scale(0, 0);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}
