.animate.grow-in-diagonally {
    animation: grow-in-diagonally $growInTime $growInEasing forwards;
    transform-origin: center;
}

.animate.grow-in-diagonally.up {
    transform-origin: bottom center;
}

.animate.grow-in-diagonally.down {
    transform-origin: top center;
}

.animate.grow-in-diagonally.up.right {
    transform-origin: bottom left;
}

.animate.grow-in-diagonally.up.left {
    transform-origin: bottom right;
}

.animate.grow-in-diagonally.down.right {
    transform-origin: top left;
}

.animate.grow-in-diagonally.down.left {
    transform-origin: top right;
}

@keyframes grow-in-diagonally {
    0% {
        transform: scale(0, 0);
    }
    100% {
        transform: none;
    }
}
