.animate.grow-bounce-out-vertically {
    animation: grow-bounce-out-vertically $growBounceOutTime
        $growBounceOutEasing forwards;
    transform-origin: center;
}

.animate.grow-bounce-out-vertically.up {
    transform-origin: top center;
}

.animate.grow-bounce-out-vertically.down {
    transform-origin: bottom center;
}

@keyframes grow-bounce-out-vertically {
    0%,
    30% {
        transform: none;
    }
    50% {
        transform: scale(1, #{$growBounceOut});
    }
    70% {
        transform: scale(1, 0);
    }
    100% {
        transform: scale(0, 0);
    }
}
