.animate.grow-bounce-in-vertically {
    animation: grow-bounce-in-vertically $growBounceInTime $growBounceInEasing
        forwards;
    transform-origin: center;
}

.animate.grow-bounce-in-vertically.up {
    animation: grow-bounce-in-vertically $growBounceInTime $growBounceInEasing
        forwards;
    transform-origin: bottom center;
}

.animate.grow-bounce-in-vertically.down {
    animation: grow-bounce-in-vertically $growBounceInTime $growBounceInEasing
        forwards;
    transform-origin: top center;
}

@keyframes grow-bounce-in-vertically {
    0% {
        transform: scale(0, 0);
        opacity: 0;
    }
    40% {
        transform: scale(1, 0);
    }
    60% {
        transform: scale(1, #{$growBounceIn});
        opacity: 1;
    }
    80% {
        transform: scale(1, #{$growBounceDuring});
    }
    100% {
        transform: none;
    }
}
