.animate.grow-out-vertically {
    animation: grow-out-vertically $growOutTime $growOutEasing forwards;
    transform-origin: center;
}

.animate.grow-out-vertically.up {
    animation: grow-out-vertically $growOutTime $growOutEasing forwards;
    transform-origin: top center;
}

.animate.grow-out-vertically.down {
    animation: grow-out-vertically $growOutTime $growOutEasing forwards;
    transform-origin: bottom center;
}

@keyframes grow-out-vertically {
    0% {
        transform: none;
        opacity: 1;
    }
    50% {
        transform: scale(1, 0);
    }
    100% {
        transform: scale(0, 0);
        opacity: 0;
    }
}
