.animate.grow-bounce-in-horizontally {
    animation: grow-bounce-in-horizontally $growBounceInTime $growBounceInEasing
        forwards;
    transform-origin: center;
}

.animate.grow-bounce-in-horizontally.right {
    transform-origin: top left;
}

.animate.grow-bounce-in-horizontally.left {
    transform-origin: top right;
}

@keyframes grow-bounce-in-horizontally {
    0% {
        transform: scale(0, 0);
    }
    40% {
        transform: scale(0, 1);
    }
    60% {
        transform: scale(#{$growBounceIn}, 1);
    }
    80% {
        transform: scale(#{$growBounceDuring}, 1);
    }
    100% {
        transform: none;
    }
}
