.animate.grow-out {
    animation: grow-out $growOutTime $growOutEasing forwards;
    transform-origin: center;
}

.animate.grow-out.up {
    animation: grow-out $growOutTime $growOutEasing forwards;
    transform-origin: top center;
}

.animate.grow-out.down {
    animation: grow-out $growOutTime $growOutEasing forwards;
    transform-origin: bottom center;
}

.animate.grow-out.up.right {
    animation: grow-out $growOutTime $growOutEasing forwards;
    transform-origin: top right;
}

.animate.grow-out.up.left {
    animation: grow-out $growOutTime $growOutEasing forwards;
    transform-origin: top left;
}

.animate.grow-out.down.right {
    animation: grow-out $growOutTime $growOutEasing forwards;
    transform-origin: bottom right;
}

.animate.grow-out.down.left {
    animation: grow-out $growOutTime $growOutEasing forwards;
    transform-origin: bottom left;
}

@keyframes grow-out {
    from {
        transform: none;
        opacity: 1;
    }
    to {
        transform: scale(0, 0);
        opacity: 0;
    }
}
