.animate.grow-bounce-out-diagonally {
    animation: grow-bounce-out-diagonally $growBounceOutTime
        $growBounceOutEasing forwards;
    transform-origin: center;
}

.animate.grow-bounce-out-diagonally.up {
    transform-origin: top center;
}

.animate.grow-bounce-out-diagonally.down {
    transform-origin: bottom center;
}

.animate.grow-bounce-out-diagonally.up.right {
    transform-origin: top right;
}

.animate.grow-bounce-out-diagonally.up.left {
    transform-origin: top left;
}

.animate.grow-bounce-out-diagonally.down.right {
    transform-origin: bottom right;
}

.animate.grow-bounce-out-diagonally.down.left {
    transform-origin: bottom left;
}

@keyframes grow-bounce-out-diagonally {
    0%,
    40% {
        transform: none;
    }
    70% {
        transform: scale(#{$growBounceOut}, #{$growBounceOut});
    }
    100% {
        transform: scale(0, 0);
    }
}
