.animate.grow-bounce-in-diagonally {
    animation: grow-bounce-in-diagonally $growBounceInTime $growBounceInEasing
        forwards;
    transform-origin: center;
}

.animate.grow-bounce-in-diagonally.up {
    transform-origin: bottom center;
}

.animate.grow-bounce-in-diagonally.down {
    transform-origin: top center;
}

.animate.grow-bounce-in-diagonally.up.right {
    transform-origin: bottom left;
}

.animate.grow-bounce-in-diagonally.up.left {
    transform-origin: bottom right;
}

.animate.grow-bounce-in-diagonally.down.right {
    transform-origin: top left;
}

.animate.grow-bounce-in-diagonally.down.left {
    transform-origin: top right;
}

@keyframes grow-bounce-in-diagonally {
    0% {
        transform: scale(0, 0);
    }
    60% {
        transform: scale(#{$growBounceIn}, #{$growBounceIn});
    }
    80% {
        transform: scale(#{$growBounceDuring}, #{$growBounceDuring});
    }
    100% {
        transform: none;
    }
}
