.animate.swing-out-horizontally {
    animation: swing-out-horizontally $swingOutTime $swingOutEasing forwards;
    transform-origin: center;
}

.animate.swing-out-horizontally.right {
    transform-origin: center right;
}

.animate.swing-out-horizontally.left {
    transform-origin: center left;
}

@keyframes swing-out-horizontally {
    0% {
        transform: none;
    }
    100% {
        transform: rotateY(90deg);
    }
}
