.animate.swing-in-horizontally {
    animation: swing-in-horizontally $swingInTime $swingInEasing forwards;
    transform-origin: center;
}

.animate.swing-in-horizontally.right {
    transform-origin: center left;
}

.animate.swing-in-horizontally.left {
    transform-origin: center right;
}

@keyframes swing-in-horizontally {
    0% {
        transform: rotateY(-90deg);
    }
    100% {
        transform: none;
    }
}
