.animate.swing-in-vertically {
    animation: swing-in-vertically $swingInTime $swingInEasing forwards;
    transform-origin: center;
}

.animate.swing-in-vertically.up {
    transform-origin: bottom center;
}

.animate.swing-in-vertically.down {
    transform-origin: top center;
}

@keyframes swing-in-vertically {
    0% {
        transform: rotateX(-90deg);
    }
    100% {
        transform: none;
    }
}
