.animate.slide-in-vertically.up {
    animation: slide-in-up $slideInEasing $slideInTime;
}

.animate.slide-in-vertically.down {
    animation: slide-in-down $slideInEasing $slideInTime;
}

@keyframes slide-in-up {
    from {
        transform: translateY(#{$bottomClearance}#{$heightUnit});
    }
    to {
        transform: none;
    }
}

@keyframes slide-in-down {
    from {
        transform: translateY(-#{$topClearance}#{$heightUnit});
    }
    to {
        transform: none;
    }
}
