.animate.slide-out-horizontally.right {
    animation: slide-out-right $slideOutEasing $slideOutTime;
}

.animate.slide-out-horizontally.left {
    animation: slide-out-left $slideOutEasing $slideOutTime;
}

@keyframes slide-out-right {
    from {
        transform: none;
    }
    to {
        transform: translateX(#{$rightClearance}#{$widthUnit});
    }
}

@keyframes slide-out-left {
    from {
        transform: none;
    }
    to {
        transform: translateX(-#{$leftClearance}#{$widthUnit});
    }
}
