.animate.slide-bounce-out-horizontally.right {
    animation: slide-bounce-out-right $slideBounceOutTime $slideBounceOutEasing
        forwards;
}

.animate.slide-bounce-out-horizontally.left {
    animation: slide-bounce-out-left $slideBounceOutTime $slideBounceOutEasing
        forwards;
}

@keyframes slide-bounce-out-right {
    0%,
    40% {
        transform: none;
    }
    70% {
        transform: translate3d(-#{$slideBounceOut}, 0, 0);
    }
    100% {
        transform: translate3d(#{$rightClearance}, 0, 0);
    }
}

@keyframes slide-bounce-out-left {
    0%,
    40% {
        transform: none;
    }
    70% {
        transform: translate3d(#{$slideBounceOut}, 0, 0);
    }
    100% {
        transform: translate3d(-#{$leftClearance}, 0, 0);
    }
}
