.animate.slide-in-vertically.up {
    animation-name: slide-in-up;
    animation-timing-function: $slideInEasing;
    animation-duration: $slideInTime;
}

.animate.slide-in-vertically.down {
    animation-name: slide-in-down;
    animation-timing-function: $slideInEasing;
    animation-duration: $slideInTime;
}

@keyframes slide-in-up {
    from {
        transform: translateY(#{$bottomClearance}#{$heightUnit});
    }
    to {
        transform: none;
    }
}

@keyframes slide-in-down {
    from {
        transform: translateY(-#{$topClearance}#{$heightUnit});
    }
    to {
        transform: none;
    }
}
