.animate.slide-in-horizontally.right {
    animation: slide-in-right $slideInTime $slideInEasing forwards;
}

.animate.slide-in-horizontally.left {
    animation: slide-in-left $slideInTime $slideInEasing forwards;
}

@keyframes slide-in-right {
    from {
        transform: translateX(-#{$rightClearance}#{$widthUnit});
    }
    to {
        transform: none;
    }
}

@keyframes slide-in-left {
    from {
        transform: translateX(#{$leftClearance}#{$widthUnit});
    }
    to {
        transform: none;
    }
}
