@mixin bounce-out-common($anim) {
    animation-name: $anim;

    &.shake {
        animation-name: shake-out, $anim;

        &.horizontally {
            animation-name: shake-horizontally-out, $anim;
        }

        &.vertically {
            animation-name: shake-vertically-out, $anim;
        }
    }

    &.pulsate {
        animation-name: pulsate-out, $anim;
    }

    &.flash {
        animation-name: flash-out, $anim;
    }

    &.wave {
        animation-name: wave-out, $anim;
    }
}

#{$rootClass}.bounce.out {
    animation-duration: $bounceInDuration;
    animation-timing-function: $bounceInTimingFunction;

    &.left {
        @include bounce-out-common(bounce-out-left);
    }

    &.right {
        @include bounce-out-common(bounce-out-right);
    }

    &.up {
        @include bounce-out-common(bounce-out-up);
    }

    &.down {
        @include bounce-out-common(bounce-out-down);
    }

    &.up.left {
        @include bounce-out-common(bounce-out-up-left);
    }

    &.down.left {
        @include bounce-out-common(bounce-out-down-left);
    }

    &.up.right {
        @include bounce-out-common(bounce-out-up-right);
    }

    &.down.right {
        @include bounce-out-common(bounce-out-down-right);
    }

    &.shake {
        animation-duration: $shakeDuration, $bounceOutDuration;
        animation-delay: 0s, $shakeDuration;
        animation-timing-function: $shakeTimingFunction,
            $bounceOutTimingFunction;

        &.horizontally {
            animation-name: shake-horizontally-out, bounce-out-right;
        }

        &.vertically {
            animation-name: shake-vertically-out, bounce-out-right;
        }
    }

    &.pulsate {
        animation-duration: $pulsateDuration, $bounceOutDuration;
        animation-delay: 0s, $pulsateDuration;
        animation-timing-function: $pulsateTimingFunction,
            $bounceOutTimingFunction;
    }

    &.flash {
        animation-duration: $flashDuration, $bounceOutDuration;
        animation-delay: 0s, $flashDuration;
        animation-timing-function: $flashTimingFunction,
            $bounceOutTimingFunction;
    }

    &.wave {
        animation-duration: $waveDuration, $bounceOutDuration;
        animation-delay: 0s, $waveDuration;
        animation-timing-function: $waveTimingFunction, $bounceOutTimingFunction;
    }
}

@keyframes bounce-out-right {
    0%,
    40% {
        transform: none;
    }
    70% {
        transform: translate3d(-#{$bounceOut}, 0, 0);
    }
    100% {
        transform: translate3d(#{$rightClearance}, 0, 0);
    }
}

@keyframes bounce-out-left {
    0%,
    40% {
        transform: none;
    }
    70% {
        transform: translate3d(#{$bounceOut}, 0, 0);
    }
    100% {
        transform: translate3d(-#{$leftClearance}, 0, 0);
    }
}

@keyframes bounce-out-up {
    0%,
    40% {
        transform: none;
    }
    70% {
        transform: translate3d(0, #{$bounceOut}, 0);
    }
    100% {
        transform: translate3d(0, -#{$topClearance}, 0);
    }
}

@keyframes bounce-out-down {
    0%,
    40% {
        transform: none;
    }
    70% {
        transform: translate3d(0, -#{$bounceOut}, 0);
    }
    100% {
        transform: translate3d(0, #{$bottomClearance}, 0);
    }
}

@keyframes bounce-out-down-right {
    0%,
    40% {
        transform: none;
    }
    70% {
        transform: translate3d(-#{$bounceOut}, -#{$bounceOut}, 0);
    }
    100% {
        transform: translate3d(#{$rightClearance}, #{$topClearance}, 0);
    }
}

@keyframes bounce-out-up-right {
    0%,
    40% {
        transform: none;
    }
    70% {
        transform: translate3d(-#{$bounceOut}, #{$bounceOut}, 0);
    }
    100% {
        transform: translate3d(#{$rightClearance}, -#{$topClearance}, 0);
    }
}

@keyframes bounce-out-down-left {
    0%,
    40% {
        transform: none;
    }
    70% {
        transform: translate3d(#{$bounceOut}, -#{$bounceOut}, 0);
    }
    100% {
        transform: translate3d(-#{$leftClearance}, #{$bottomClearance}, 0);
    }
}

@keyframes bounce-out-up-left {
    0%,
    40% {
        transform: none;
    }
    70% {
        transform: translate3d(#{$bounceOut}, #{$bounceOut}, 0);
    }
    100% {
        transform: translate3d(-#{$leftClearance}, -#{$topClearance}, 0);
    }
}
