.animate.fold-bounce-in-horizontally {
    animation: fold-bounce-in-horizontally $foldBounceInTime $foldBounceInEasing
        forwards;
    transform-origin: center;
}

.animate.fold-bounce-in-horizontally.right {
    animation: fold-bounce-in-horizontally $foldBounceInTime $foldBounceInEasing
        forwards;
    transform-origin: top left;
}

.animate.fold-bounce-in-horizontally.left {
    animation: fold-bounce-in-horizontally $foldBounceInTime $foldBounceInEasing
        forwards;
    transform-origin: top right;
}

@keyframes fold-bounce-in-horizontally {
    0% {
        transform: scale(0, 0);
        opacity: 0;
    }
    40% {
        transform: scale(0, 1);
    }
    60% {
        transform: scale(#{$foldBounceIn}, 1);
        opacity: 1;
    }
    80% {
        transform: scale(#{$foldBounceDuring}, 1);
    }
    100% {
        transform: none;
    }
}
