.animate.fold-bounce-in-vertically {
    animation: fold-bounce-in-vertically $foldBounceInTime $foldBounceInEasing
        forwards;
    transform-origin: center;
}

.animate.fold-bounce-in-vertically.up {
    animation: fold-bounce-in-vertically $foldBounceInTime $foldBounceInEasing
        forwards;
    transform-origin: bottom center;
}

.animate.fold-bounce-in-vertically.down {
    animation: fold-bounce-in-vertically $foldBounceInTime $foldBounceInEasing
        forwards;
    transform-origin: top center;
}

@keyframes fold-bounce-in-vertically {
    0% {
        transform: scale(0, 0);
        opacity: 0;
    }
    40% {
        transform: scale(1, 0);
    }
    60% {
        transform: scale(1, #{$foldBounceIn});
        opacity: 1;
    }
    80% {
        transform: scale(1, #{$foldBounceDuring});
    }
    100% {
        transform: none;
    }
}
