.animate.fold-in-vertically {
    animation: fold-in-vertically $foldInTime $foldInEasing forwards;
    transform-origin: center;
}

.animate.fold-in-vertically.up {
    animation: fold-in-vertically $foldInTime $foldInEasing forwards;
    transform-origin: bottom center;
}

.animate.fold-in-vertically.down {
    animation: fold-in-vertically $foldInTime $foldInEasing forwards;
    transform-origin: top center;
}

@keyframes fold-in-vertically {
    0% {
        transform: scale(0, 0);
        opacity: 0;
    }
    50% {
        transform: scale(1, 0);
    }
    100% {
        transform: none;
        opacity: 1;
    }
}
