#{$rootClass}.fade.out {
    animation-duration: $fadeOutDuration;
    animation-timing-function: $fadeOutTimingFunction;

    @include chainable-anim-out(fade-out);

    &.shake {
        @include chainable(
            $shakeDuration,
            $shakeTimingFunction,
            $fadeOutDuration,
            $fadeOutTimingFunction
        );
    }

    &.pulsate {
        @include chainable(
            $pulsateDuration,
            $pulsateTimingFunction,
            $fadeOutDuration,
            $fadeOutTimingFunction
        );
    }

    &.flash {
        @include chainable(
            $flashDuration,
            $flashTimingFunction,
            $fadeOutDuration,
            $fadeOutTimingFunction
        );
    }

    &.wave {
        @include chainable(
            $waveDuration,
            $waveTimingFunction,
            $fadeOutDuration,
            $fadeOutTimingFunction
        );
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
