.animate.zoom-bounce-in {
    animation: zoom-bounce-in $zoomBounceInTime $zoomBounceInEasing forwards;
}

@keyframes zoom-bounce-in {
    0% {
        transform: scale(0, 0);
    }
    60% {
        transform: scale(#{$zoomBounceIn}, #{$zoomBounceIn});
    }
    80% {
        transform: scale(#{$zoomBounceDuring}, #{$zoomBounceDuring});
    }
    100% {
        transform: none;
    }
}
