.animate.zoom-bounce-out {
    animation: zoom-bounce-out $zoomBounceOutTime $zoomBounceOutEasing forwards;
}

@keyframes zoom-bounce-out {
    0%,
    40% {
        transform: none;
    }
    70% {
        transform: scale(#{$zoomBounceOut}, #{$zoomBounceOut});
    }
    100% {
        transform: scale(0, 0);
    }
}
