$topClearance: 25vh;
$bottomClearance: $topClearance;
$leftClearance: 25vw;
$rightClearance: $leftClearance;

$fadeInEasing: ease;
$fadeInTime: 1s;
$fadeOutEasing: $fadeInEasing;
$fadeOutTime: $fadeInTime;

$zoomInEasing: ease;
$zoomInTime: 0.5s;
$zoomOutEasing: $zoomInEasing;
$zoomOutTime: $zoomInTime;

$slideInEasing: cubic-bezier(0.9, 0.55, 0.9, 1);
$slideInTime: 0.7s;
$slideOutEasing: $slideInEasing;
$slideOutTime: $slideInTime;

$bounceInEasing: cubic-bezier(0.88, 0.54, 0.91, 0.99);
$bounceInTime: 0.8s;
$bounceOutEasing: $bounceInEasing;
$bounceOutTime: $bounceInTime;
$bounceIn: 5px;
$bounceDuring: 3px;
$bounceOut: 15px;
