$heightUnit: vh;
$widthUnit: vw;
$topClearance: 25;
$bottomClearance: 25;
$leftClearance: 25;
$rightClearance: 25;

$fadeInEasing: ease;
$fadeInTime: 0.6s;
$fadeOutEasing: ease;
$fadeOutTime: 0.6s;

$slideInEasing: ease;
$slideInTime: 0.6s;
$slideOutEasing: ease;
$slideOutTime: 0.6s;
