$heightUnit: vh;
$widthUnit: vw;
$topClearance: 25;
$bottomClearance: $topClearance;
$leftClearance: 25;
$rightClearance: $leftClearance;

$fadeInEasing: ease;
$fadeInTime: 1s;
$fadeOutEasing: $fadeInEasing;
$fadeOutTime: $fadeInTime;

$slideInEasing: cubic-bezier(1, 0.55, 0.9, 1);
$slideInTime: 0.7s;
$slideOutEasing: $slideInEasing;
$slideOutTime: $slideInTime;

$bounceInEasing: cubic-bezier(1, 0.55, 0.9, 1);
$bounceInTime: 0.7s;
$bounceOutEasing: $bounceInEasing;
$bounceOutTime: $bounceInTime;
